<!DOCTYPE html>
<html>
<head>
    <style>
        h1{
            background-color:green;
        }
    </style>
</head>
<body>
    <h1>Home Index</h1>
    <h3>P129</h3>
    <ul>
        <li>Idris</li>
        <li>Alyasar</li>
        <li>Elgiz</li>
        <li>Hamid</li>
    </ul>
    @RenderBody()
</body>
</html>